assets/sample_data/01/*.WAV
assets/sample_data/01/*.json
assets/sample_data/02/*.WAV
assets/sample_data/02/*.json
assets/sample_data_light/01/*.WAV
assets/sample_data_light/01/*.json
assets/sample_data_light/02/*.WAV
assets/sample_data_light/02/*.json
assets/sample_data/01/.nfs*